:root{
    --main-color: rgb(70, 70, 70);
    --main-color-dark: rgb(175, 133, 26);
    --background-color: whitesmoke;
    --linear-color1: rgb(252, 243, 232);
    --linear-color2: gainsboro;
    --img-border-color: rgb(203, 203, 203);
    --logo-main-color: black;
    --secondary-color: #facf0f;
    --aaaaa : rgb(0, 134, 120);
}
html{
    font-family: 'Mohave', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
}
header{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-color);
    box-sizing: border-box;
}

header>a{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 50px;
    color: var(--main-color);
}
div{
    width: 50%;
    margin: auto;
}

ul>li>a:link{
    color: var(--main-color);
    text-decoration: none;
}
ul>li>a:visited{
    color: var(--main-color);
}
ul>li>a:hover{
    color: var(--main-color-dark);
}
section:nth-of-type(1){
    width: 100%;
    display: flex;
    padding:0px 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
img{
    width: 40%;
    background-color: rgb(228, 228, 228);
    border-radius: 100%;
    margin: 20px 0px;
    min-height: 500px;
    min-width: 500px;
    box-shadow: 5px 5px 15px 2px rgb(210, 210, 210);
}
p{
    margin: 20px 0px;
}
section > div > p{
    font-size: 25px;
    line-height: 40px;
    color: rgba(163, 162, 162, 0.566);
    font-weight: 100;
}
section:nth-of-type(1) > div > p::first-letter{
    font-size: 2em;
    color: var(--main-color);
}

button:hover{
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    background-image: linear-gradient(to bottom, var(--main-color), gray);
}
h2{
    color: gray;
    margin: 20px 0px;
    font-weight: 400;
    font-size: 40px;
    color: darkcyan;
}
h1{
    color: gray;
    font-size: 55px;
    font-weight: 600;
    margin: 20px 0px;
}
footer{
    height: 350px;
    width: 100%;
    background-color: rgb(6, 2, 29);
    position: relative;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(60, 63, 79);
    justify-content: center;
    z-index: -1;
}

footer > p{
    color: gainsboro;
    text-align: center;
    margin-right: 100px;
    font-size: 20px;
}
a > span{
    font-size: 18px;
    padding-left: 0px;
    font-weight: 900;  
    text-transform: uppercase;
    letter-spacing: 3px;
    border-top: 1px solid var(--secondary-color);
    color: rgb(96, 94, 94);
}

p>span{
    color: var(--secondary-color);
}

section:nth-of-type(1){
    padding-top: 50px;
}
section{
    padding: 0px 7.5%;
    padding-bottom: 0px;
    padding-top: 90px;
}

main > div{
    width: 100%;
    z-index: 100;
}
main>div>ul{
    display: block;
    position: fixed;
    bottom: 30px;
    right: 20px;
    list-style: none;
    border-radius: 100px;
    padding: 20px 0px;
    border: 2px solid gainsboro;
    background-color: white;
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--secondary-color);
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
main>div>ul>li{
    display: block;
    padding: 15px 10px;
}
div>ul>li>i{
    font-size: 30px;
    color: var(--main-color);
    aspect-ratio: 1/1;
}
nav>ul > li > a {
    display: inline-block;
  }
  
  
  /* The effect 
  -------------------------*/
  
nav>ul {
    text-align: center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-decoration: none; 
    margin-right: 20px;   
    padding: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Roboto Condensed';
}
  
  nav>ul > li {
    height: 100%;
    display: inline;
    padding: 0px 15px;
    text-transform: uppercase;
  }
  
  nav>ul > li > a {
    text-shadow: 0 -50px var(--secondary-color);
    padding-top: 50px;
    margin-top: -50px;
    transition: 0.25s cubic-bezier(0, 0, .5, 1.4);
    letter-spacing: 1px;    
    font-weight: 500;
  }
  nav>ul > li > a:hover {
    margin-top: 0;
  }

  /* @supports (mix-blend-mode: difference) {
    main>div>ul {
      mix-blend-mode:difference;
    }
    main>div>ul i {
        color: white;
    }
  } */



section > h2{
    margin-bottom: 50px;
}

section > ul > li{
    font-size: 20px;
    border: 2px solid gainsboro;
    border-radius: 100px;
    height: 55px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    color: rgba(128, 128, 128, 0.318);
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px gainsboro;
}

section > ul > li > p:nth-of-type(1) {
    background-color: var(--main-color);
    border-radius: 200px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    min-width: 100px;
    margin-left: -2px;
    border: 2px solid gainsboro;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, var(--main-color), gray);
}
section > ul > li:nth-of-type(2n) {
    flex-direction: row-reverse;
}
section> ul > li:nth-of-type(2n) > p:nth-of-type(1){
    margin-right: -2px;
    color: whitesmoke;
    background-color: var(--secondary-color);
    background-image: linear-gradient(to bottom, var(--secondary-color), orange);
    
}
section> ul > li:nth-of-type(2n){
    box-shadow: 0px 5px 5px gainsboro;
}
section > ul > li > p:nth-of-type(2){
    margin: 0px 20px;
    margin: auto;
}













section:nth-of-type(4) > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
section:nth-of-type(4) > div >div{
    margin: auto;
    margin: 0px 20px;
}
section:nth-of-type(4) > div >div>div{
    display: flex;
    align-items: start;
    height: 10px;
    background-color: gainsboro;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 100px;
    margin-top: 25px;
}
section:nth-of-type(4) > div > div > div >div{
    height: 100%;
    margin-left: 0px;
    border-radius: 100px;
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom, var(--secondary-color), orange);
    opacity: 0.8;
}
section:nth-of-type(4)>div > div > div:nth-of-type(1) > div{
    width: 70%;
}
section:nth-of-type(4)>div >  div > div:nth-of-type(2) > div{
    width: 60%;
}
section:nth-of-type(4)>div > div > div:nth-of-type(3) > div{
    width: 50%;
}
section:nth-of-type(4)>div > div > div:nth-of-type(4) > div{
    width: 90%;
}
section:nth-of-type(4)>div > div > div:nth-of-type(5) > div{
    width: 70%;
}
div>h3{
    font-size: 25px;
    font-weight: 100;
    margin: 5px 0px;
    text-transform: uppercase;
    display: inline;
    color: gray;
}
div>div>div>div>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
h4{
    font-size: 18px;
    padding: 5px;
    /* background-color: var(--main-color); */
    color: white;
    line-height: 100%;
    text-align: end;
    position: relative;
    bottom: 30px;
    right: -15px;
    font-family: 'Oswald', sans-serif;
    color: var(--main-color);
}



section:nth-of-type(5){
    padding-bottom: 200px;
}










section > form{
    display: block;
    width: 100%;
}
label, input{
    display: block;
    height: 50px;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}
textarea{
    display: block;
    width: 80%;
    margin: auto;
    max-width: 80% ;
    min-width: 80%;
    min-height: 40px;
    max-height: 300px;
    box-sizing: border-box;
}

label{
    height: auto;
    font-size: 20px;
    color: var(--main-color);
    margin: 5px auto;
}
input, textarea{
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    border-right: 10px solid gainsboro;
}

input[type='submit']{
    border: none;
    font-size: 20px;
    color: white;
    border-right: 10px solid gainsboro;
    background-color: darkcyan;
    width: 20%;
    margin-right: 10%;
}
input[type='submit']:hover{
    background-color: rgb(1, 106, 106);
    border-right: 10px solid var(--main-color);
    cursor: pointer;
}


header>nav{
    display: flex;
}

button{
    /* background: linear-gradient(to bottom, orangered, red); */
    background-color: darkcyan;
    color: white;
    border-radius: 100px;
    padding: 0px 30px;
    font-size: 16px;
    border: none;
}

header li>ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px 20px;
    border: 1px solid black;
}
header li:nth-of-type(2):hover >ul{
    display:block;
    top:75px;
}
header li>ul>li + li{
    border-top: 1px solid gainsboro;
}










form>div{
    display: flex;
    width: 89%;
    box-sizing: border-box;
}



header > nav>i{
    visibility: hidden;
    color: darkcyan;
    font-size: 40px;
}
@media screen and (max-width: 800px){
    section:nth-of-type(1){
        display: block;
        padding: 10%;
    }
    section:nth-of-type(1)>div{
        width: 100%;
    }
    header>nav>ul, nav> button{
        display: none;
    }
    img{
        width: 100%;
        min-width: 100px;
        min-height: 100px;
    }
    section:nth-of-type(4) > div {
        display: block;
    }
    section:nth-of-type(4) > div >div {
        width: 100%;
        margin: 0px 0px;
    }
    header>nav>i{
        visibility: visible;
    }
    main>div>ul{
        display: none;
    }

}